<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ServletPanier</servlet-name>
        <servlet-class>controller.ServletPanier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierProduitServlet</servlet-name>
        <servlet-class>controller.ModifierProduitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPanier</servlet-name>
        <url-pattern>/ServletPanier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierProduitServlet</servlet-name>
        <url-pattern>/ModifierProduitServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>accueil.jsp</welcome-file>
    </welcome-file-list>
</web-app>
